<div class="container-fluid footer">
    <div class="row">
        <div class="col-md-4"><h1>This is footer section</h1></div>

        <div class="col-md-8">

            <div class="row">

                <div class="col-md-4">
                    <h3>About Our Company</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque deleniti id ipsum laboriosam
                        nostrum! Ab aliquid commodi cumque fuga hic, incidunt labore libero non obcaecati odit
                        reprehenderit temporibus tenetur vel!</p>
                </div>

                <div class="col-md-4">
                    <h3>Our Partners</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque deleniti id ipsum laboriosam
                        nostrum! Ab aliquid commodi cumque fuga hic, incidunt labore libero non obcaecati odit
                        reprehenderit temporibus tenetur vel!</p>
                </div>

                <div class="col-md-4">
                    <h3>Our Projects</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque deleniti id ipsum laboriosam
                        nostrum! Ab aliquid commodi cumque fuga hic, incidunt labore libero non obcaecati odit
                        reprehenderit temporibus tenetur vel!</p>
                </div>

            </div>

        </div>

    </div>

</div>
