<div class="container-fluid header" style="padding:2px!important;">
    <div class="row">
        <div class="col-md-3">
            <h1 class="logo"><a href="/index">Logics Flow...</a>
            </h1>
        </div>
        <div class="col-md-9">

            <div class="menu">
              <ul>
                  <li><a href="/index">Home</a></li>
                  <li><a href="/help">Help</a></li>
                  <li><a href="/about">About</a></li>

              </ul>
            </div>
        </div>
    </div>

</div>
